pid /run/nginx.pid;
user {{ nginx.user }};
worker_processes {{ nginx.worker_processes }};

events {
    worker_connections {{ nginx.worker_connections }};
    use epoll;
    multi_accept {{ nginx.multi_accept }};
}

http {
    # ----- Basic Settings & Optimizations -----
    charset utf-8;
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 60;
    send_timeout 2;
    reset_timedout_connection on;
    client_max_body_size 16M;
    client_body_buffer_size 64k;
    client_body_timeout 30s;
    client_header_timeout 30s;
    types_hash_max_size 2048;
    server_tokens off;
    server_names_hash_bucket_size 64;
    server_name_in_redirect off;
    #more_clear_headers Server;
    #more_clear_headers Pragma;

    # ----- SSL Settings -----
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    # ----- Mime -----
    include mime.types;
    default_type application/octet-stream;

    # ----- Logging Settings -----
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    # ----- Gzip Settings -----
    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/xml text/css text/javascript application/javascript application/json application/xml application/xml+rss application/atom+xml image/svg+xml;

    # ----- Virtual Host Configs -----
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
